<md-content layout layout-align="center start" layout-fill xmlns="http://www.w3.org/1999/html" ng-cloak>

    <!--
        <md-list class="md-dense" flex="100">
          <md-subheader class="md-no-sticky">Today</md-subheader>
          <md-list-item class="md-2-line">
            <i class="wi wi-night-sleet"></i>
            <div class="md-list-item-text" layout="column">
              <h3>85</h3>
              <h4>55</h4>
            </div>
          </md-list-item>
          <md-subheader class="md-no-sticky">Tomorrow</md-subheader>
          <md-list-item class="md-2-line">
            <i class="wi wi-night-sleet"></i>
            <div class="md-list-item-text" layout="column">
              <h3>85</h3>
              <h4>55</h4>
            </div>
          </md-list-item>
          <md-subheader class="md-no-sticky">Next</md-subheader>
          <md-list-item class="md-2-line">
            <i class="wi wi-night-sleet"></i>
            <div class="md-list-item-text" layout="column">
              <h3>85</h3>
              <h4>55</h4>
            </div>
          </md-list-item>
        </md-list>
    -->


    <div flex layout>

        <div flex ng-repeat="tide in main.tides[0]">

           <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" width="100%" height="250px" viewBox="-31.833 -30.788 283 283" overflow="visible" enable-background="new -31.833 -30.788 283 283" xml:space="preserve">

            <g>
              <clipPath id="SVGID_5_">
                  <path id="SVGID_2_" d="M3.596,107.939c0,57.605,46.699,104.304,104.303,104.304c57.605,0,104.304-46.699,104.304-104.304c0-57.604-46.699-104.303-104.304-104.303C50.295,3.636,3.596,50.335,3.596,107.939"/>
              </clipPath>

              <g id="lowTide" ng-if="tide.type == 'Low'">
                <path ng-if="tide.height >= -.2" clip-path="url(#SVGID_5_)" id="svg_7" d="m-1,139.5c16.66667,0.5 32.33333,-26 111,3.5c55.33333,20 106.66667,5 114,5c-2.33333,62.66667 -56.66667,67.33333 -124,69c-58.66667,1.16667 -104.33333,-28.66667 -101,-77.5z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="null" fill="#2B88B2"/>
                <path ng-if="tide.height < -.2" stroke="null" fill="#2B88B2" stroke-width="null" stroke-opacity="null" fill-opacity="null" d="m-1,140.5c65.66667,22.5 -8.66667,-4 70,25.5c55.33333,20 74.66667,-15 155,-17c-2.33333,62.66667 -56.66667,67.33333 -124,69c-58.66667,1.16667 -104.33333,-28.66667 -101,-77.5z" id="svg_7" clip-path="url(#SVGID_5_)"/>
              </g>

              <g id="highTide"  ng-if="tide.type == 'High'">
                <path ng-if="tide.height < .2" id="svg_2" d="m210.91145,47c0,0 -48.10626,-24 -74.45016,-3c-28.63468,22 -54.83319,-17 -95.48558,7c-33.21622,13 -55.76235,14 -73.81548,46c-9.1631,23 11.23765,86 53.61697,110c9.1631,10 90.48558,32 115.68409,31c25.19852,-1 72.15938,-20 82.46787,-33s27.48929,-27 32.07084,-54c4.58155,-27 -4.00885,-73 -13.17195,-82c-7.44502,-7 -26.9166,-21.5 -26.9166,-21.5" fill="#2B88B2" clip-path="url(#SVGID_5_)" stroke="null"/>
                <path ng-if="tide.height >= .2" clip-path="url(#SVGID_5_)"  fill="#2B88B2" stroke="null" stroke-width="null" stroke-opacity="null" fill-opacity="null" d="m32,14.5c34.33333,-0.83333 3.66667,21.33333 103,-2.5c128.33333,-21.33333 94.66667,18.33333 85,110c17.33333,78 -28.33333,104 -104,99c-131.66667,-2.33333 -134.33333,-18.66667 -143,-100c-32.33333,-54.5 -7.66667,-106 59,-106.5z" id="svg_4"/>
              </g>

              <circle clip-path="url(#SVGID_6_)" fill="none" stroke="#2B88B2" stroke-width="2.858" cx="108" cy="108" r="104"/>
              <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
              <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
            </g>
         </svg>-->
            <span ng-if="tide.height < -.7">
                <svg id="lowest" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px">
                    <g id="layer1" transform="translate(0 -802.36)">
                        <g id="g4198-1" transform="matrix(1.225 0 0 1.225 -4.9309 790.8)">
                            <ellipse id="path3336-8" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="109.87" cx="107.05" stroke-width="2.8116" fill="#2B88B2"/>
                            <path id="path4155-7" d="m103.67 9.4448c65.065 9.4464 130.61 63.311 86.281 149.8 0 0-11.655 18.177-23.559 15.327-15.531-3.0168-13.883-4.8352-45.459 7.9959-22.197 10.59-56.124-13.05-99.022-24.15-37.076-68.08 11.819-146.55 81.762-148.98" fill-rule="evenodd" stroke="#fff" stroke-width="1.4278px" fill="#fff"/>
                            <ellipse id="path3336-5-7" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="109.87" cx="107.05" stroke-width="2.8116" fill="none"/>
                        </g>
                    </g>
                    <g transform="translate({{tide.date | tranformTimePositionFilter}})" class="tide-time">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                    </g>
                    <g transform="translate(15 35)">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                    </g>
                </svg>
            </span>
            <span ng-if="tide.height >= -.7 && tide.height < -.3">
                <svg id="lower" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px">
                    <g id="layer1" transform="translate(0 -802.36)">
                        <g id="g4193-0" transform="matrix(1.2007 0 0 1.2007 -282.96 788.94)">
                            <ellipse id="path3336-9-4" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="#2B88B2"/>
                            <path id="path4155-1-3" d="m336.53 14.142c36.076 2.0178 114.78 35.735 103.32 106.36-5.8734 8.3031-3.2179 64.048-51.767 46.585-24.296-7.2384-50.398-14.874-70.703-9.2557-23.089 6.4049-46.169 18.054-60.224 14.092-65.63-105.7 49.49-157.58 79.37-157.77" fill-rule="evenodd" stroke="#fff" stroke-width=".57434px" fill="#fff"/>
                            <ellipse id="path3336-5-9-2" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="none"/>
                        </g>
                    </g>
                    <g transform="translate({{tide.date | tranformTimePositionFilter}})">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                    </g>
                    <g transform="translate(15 35)">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                    </g>
                </svg>
            </span>
            <span ng-if="tide.height >= -.3 && tide.height < .0">
                <svg id="low" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px">
                    <g id="layer1" transform="translate(0 -802.36)">
                        <g id="g4193-6-3" transform="matrix(1.2002 0 0 1.2002 -283.13 789.52)">
                            <ellipse id="path3336-9-5-3" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="#2B88B2"/>
                            <path id="path4155-1-8-2" d="m336.53 14.142c36.076 2.0178 115.35 18.645 98 130.13-5.8734 8.3031-19.727-11.981-57.765-10.545-32.668 9.8069-30.465 17.471-50.77 23.089-23.089 6.4049-67.022-8.4239-81.077-12.386-27.466-91.11 61.723-130.09 91.612-130.28" fill-rule="evenodd" stroke="#fff" stroke-width=".57434px" fill="#fff"/>
                            <ellipse id="path3336-5-9-7-3" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="none"/>
                        </g>
                    </g>
                    <g transform="translate({{tide.date | tranformTimePositionFilter}})">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                    </g>
                    <g transform="translate(15 35)">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                    </g>
                </svg>
            </span>
            <span ng-if="tide.height >= 0 && tide.height < .3">
                <svg id="high" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px">
                    <g id="layer1" transform="translate(0 -802.36)">
                        <g id="g4193-6" transform="matrix(1.1444 0 0 1.2304 -263.11 787.48)">
                            <ellipse id="path3336-9-5" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="#2B88B2"/>
                            <path id="path4155-1-8" d="m336.53 14.142c36.076 2.0178 93.361 21.048 101.18 84.793-5.8734 8.3031-34.042-15.162-72.08-13.726-14.102-1.5567-67.844 11.904-88.149 17.522-23.089 6.4049-20.654 3.5817-34.709-0.38055 8.8787-66.721 63.868-88.016 93.757-88.209" fill-rule="evenodd" stroke="#fff" stroke-width=".57434px" fill="#fff"/>
                            <ellipse id="path3336-5-9-7" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="none"/>
                        </g>
                    </g>
                    <g transform="translate({{tide.date | tranformTimePositionFilter}})">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                    </g>
                    <g transform="translate(15 35)">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                    </g>
                    <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                  <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                </svg>
            </span>
            <span ng-if="tide.height >= .3 && tide.height < .7">
                <svg id="higher" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px">
                    <g id="layer1" transform="translate(0 -802.36)">
                        <g id="g4193" transform="matrix(1.1998 0 0 1.2051 -282.73 791.18)">
                            <ellipse id="path3336-9" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="#2B88B2"/>
                            <path id="path4155-1" d="m336.53 14.142c36.076 2.0178 75.011 21.42 93.776 58.643-5.8734 8.3031-40.769-16.088-78.807-14.652-14.102-1.5567-44.036 7.3947-64.341 13.013-23.089 6.4049-23.901 6.9202-37.956 2.958 15.238-25.653 57.44-59.769 87.329-59.962" fill-rule="evenodd" stroke="#fff" stroke-width=".57434px" fill="#fff"/>
                            <ellipse id="path3336-5-9" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="114.73" cx="339.55" stroke-width="2.8116" fill="none"/>
                        </g>
                    </g>
                    <g transform="translate({{tide.date | tranformTimePositionFilter}})">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                    </g>
                    <g transform="translate(15 35)">
                        <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                    </g>
                </svg>
            </span>
            <span ng-if="tide.height >= .7">
               <svg id="highest" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 250 250" width="100%" height="215px" width="100%" height="215px">
                   <g id="layer1" transform="translate(0 -802.36)">
                       <g id="g4198" transform="matrix(1.2252 0 0 1.225 -5.5629 794.81)">
                           <ellipse id="path3336" style="image-rendering:auto" fill-rule="evenodd" rx="98.594" ry="97.718" stroke="#2B88B2" cy="109.87" cx="107.05" stroke-width="2.8116" fill="#2B88B2"/>
                           <path id="path4155" d="m104.04 9.2854c36.076 2.0178 52.697 15.126 71.175 27.175-5.8734 8.3031-19.027 5.3675-45.336 0.2237-14.11-1.557-22.76-6.889-48.325-0.433-23.089 6.405-27.082 5.33-41.137 1.367 19.557-13.007 33.73-28.14 63.622-28.333" fill-rule="evenodd" stroke="#fff" stroke-width=".57434px" fill="#fff"/>
                           <ellipse id="path3336-5" style="image-rendering:auto" rx="98.594" ry="97.718" stroke="#2B88B2" cy="109.87" cx="107.05" stroke-width="2.8116" fill="none"/>
                       </g>
                   </g>
                   <g transform="translate({{tide.date | tranformTimePositionFilter}})">
                       <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="40" id="svg_2" y="110" x="35" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.date | date:'h:mm a'}}</text>
                   </g>
                   <g transform="translate(15 40)">
                       <text xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="20" id="svg_2" y="200" x="85" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="null" fill="#000000">{{tide.height | number:2}}</text>
                   </g>
               </svg>
            </span>
        </div>

    </div>
    </md-content>
    <md-content layout layout-align="center center" layout-fill layout-padding class="gridListdemoBasicUsage">
    <div flex>
        <md-grid-list
                md-cols="7"
                md-row-height="1:1"
                md-gutter="6px">

            <md-grid-tile class="yellow" layout="row" md-rowspan="3" ng-repeat="item in main.weather[0]">

                <div class="weather-icon">
                    <i class="wi
                    wi-forecast-io-{{item.icon}}"></i>
                </div>
                <div class="weather-details" layout layout-align="center center">
                    <div flex>
                        {{item.temperatureMin|number:0}}&deg; | {{item.temperatureMax|number:0}}&deg;<br />
                        <i class="wi wi-humidity"></i> {{item.humidity | percentageFilter}}%<br />
                        <i class="wi wi-rain"></i> {{item.precipProbability | percentageFilter}}%<br />
                        {{item.windSpeed | number:1}} <span>{{item.windBearing| degtoCardFilter}}</span>
                    </div>
                </div>
                <md-grid-tile-footer>
                    <h3>{{( item.time * 1000 ) | date:'EEEE'}}</h3>
                </md-grid-tile-footer>

            </md-grid-tile>

        </md-grid-list>

    </div>
    </md-content>

    <md-content layout layout-align="start center " layout-fill layout-padding class="current-heading">
            <h1>Today at {{ ( 1000 * main.current.time )| date:'shortTime'}}</h1>
    </md-content>

    <md-content layout layout-align="center center" layout-fill class="current-status">
        <div flex layout layout-align="center center">
            <h1 class="status">
                <i class="wi wi-forecast-io-{{main.current.icon}}"></i>
            </h1>
        </div>
        <div flex layout layout-align="center center">
            <h1>
                <i class="wi wi-thermometer"></i>
                {{main.current.temperature | number:0}}&deg;
            </h1>
        </div>
        <div flex layout layout-align="center center">
            <h1>
                <i class="wi wi-humidity"></i>
                {{main.current.humidity | percentageFilter}}%<br />
            </h1>
        </div>
        <div flex layout layout-align="center center">
            <h1>
                <i class="wi wi-rain"></i>
                {{main.current.precipProbability| percentageFilter}}%
            </h1>
        </div>
        <div flex layout layout-align="center center">
            <h1>
                {{main.current.visibility}}
            </h1>
        </div>
        <div flex layout layout-align="center center">
            <h1>
                {{main.current.windSpeed | number:0}}<span>{{main.current.windBearing| degtoCardFilter}}</span>
            </h1>
        </div>

    </md-content>

