
h2.md-subheader{
  font-family: Verdana;
  font-size: 50px;
  padding-top: 50px;
}

  md-list-item.md-2-line{
    .wi{
      font-size: 120px;
      margin-right: 25px;
    }

    .md-list-item-text{
      font-family: Verdana;
      h3, h4 {
        font-size: 65px;
      }
    }
}

.tick{
  text{
    font-size: 30px;
  }
}

.nv-legend, .nv-axisMaxMin{
  opacity: 0;
}

.nv-axis{
  g{
    text{
      opacity: 0;
    }
  }
}


.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
  h3{
    font-family: Arial;
    font-size:25px;
  }
}
.gridListdemoBasicUsage .yellow {

  background: #184E65;
  color: #ffffff;

  .weather-icon{
    position: absolute;
    left: 50px;
    top: 40px;
  }

  .weather-details{
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    i{
      font-size:35px;
    }
  }
  i{
    font-size: 70px;
  }
  span{
    font-size: 28px;
  }
}

.current-status{
  h1{
    color: #184E65;
    font-family: Arial;
    font-size: 60px;
    span{
      font-size: 30px;
    }
    &.status{
      i{
        font-size:80px;
      }
    }
  }

  i{
    color: #184E65;
    font-size: 40px;

  }
}
.current-heading{
  padding-bottom: 0;
  padding-top: 0;
  h1{
    font-family: Arial;
    font-size: 40px;
    color: #184E65;
    margin-bottom: 0;
  }
}